header {
	background-color: $color-black;
	.inner {
		display: flex;
		justify-content: space-between;
	}
	nav {
		height: auto;
		display: flex;
		align-items: flex-end;
		div,
		ul,
		li {
			display: flex;
			height: 2.25em;
		}
		ul {
			gap: 2em;
		}
	}
	a {
		font-size: 0.9375em;
		display: flex;
		color: $color-white;
		font-weight: $weight-bold;
		text-decoration: none;
	}
}
