@import '../abstracts/variables';

.services {
	position: relative;
	z-index: 1;
	min-height: 30em;
	background: $color-black url(services-bg.png) no-repeat 100% 0 / cover;
	padding-top: 10em;
	margin-top: -10em;
	.header {
		text-align: center;
		h2 {
			font-weight: $weight-display;
		}
	}
	.tab-titles {
		display: flex;
		justify-content: center;
		gap: 5em;
		margin-bottom: 3em;
		@media (max-width: $w-l) {
			gap: 3em;
		}
		@media (max-width: $w-m) {
			flex-direction: column;
			align-items: center;
			gap: 1em;
			margin-bottom: 1.5em;
		}
		button {
			font: 1em $font-base;
			appearance: none;
			background-color: transparent;
			border: none;
			color: $color-white;
			cursor: pointer;
			&.active {
				span {
					opacity: 1;
				}
			}
			span {
				font-size: 2em;
				font-weight: $weight-heavy;
				opacity: 0.6;
				transition: opacity linear.15s;
				@media (max-width: $w-l) {
					font-size: 1.5em;
				}
			}
		}
	}
	.tab-elements {
		width: 100%;
		max-width: $w-l;
		margin: 0 auto;
		.slides {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 2em;
			@media (max-width: $w-m) {
				grid-template-columns: repeat(1, 1fr);
				gap: 1em;
			}
			.slide {
				@include preload_transition;
				border-radius: $radius-large;
				height: 0;
				padding-bottom: 60%;
				color: $color-white;
				box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
				overflow: hidden;
				.slide-content {
					position: absolute;
					left: 0;
					bottom: 0;
					width: 100%;
					display: grid;
					grid-template-columns: 1fr auto;
					padding: 1.5em 1.75em;
					z-index: 2;
				}
				.text {
					display: flex;
					flex-direction: column;
					gap: 0.5em;
					.title {
						font-size: 1.5em;
						font-weight: $weight-heavy;
					}
					.strapline {
						font-size: 0.875em;
					}
				}
				.icon {
					display: flex;
					align-items: flex-end;
					justify-content: center;
					svg {
						width: 2em;
						height: auto;
						path,
						line,
						polygon,
						circle {
							fill: $color-white;
							stroke: none;
						}
					}
				}
				.background {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					width: 100%;
					height: 100%;
					object-fit: cover;
					z-index: 1;
				}
			}
		}
	}
	.tab {
		display: none;
		&.active {
			display: block;
		}
	}
	.our-customers {
		margin-top: 5em;
		text-align: center;
		text-transform: uppercase;
		@media (max-width: $w-m) {
			margin-top: 3em;
		}
		.title {
			opacity: 0.5;
		}
		ul {
			display: flex;
			justify-content: space-between;
			gap: 2em;
			margin: 4em auto 3em auto;
			@media (max-width: $w-m) {
				flex-wrap: wrap;
				justify-content: center;
				gap: 2em;
				margin: 2em auto;
			}
			li {
				width: 100%;
				max-width: 10em;
				opacity: 0.5;
			}
		}
	}
}
