.wrap {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 6em 4em;
	@media (max-width: $w-xl) {
		padding: 4em 3em;
	}
	@media (max-width: $w-l) {
		padding: 3em 2em;
	}
	@media (max-width: $w-s) {
		padding: 2em 1.5em;
	}
	&--xx-large {
		max-width: $w-xxl;
	}
	&--x-large {
		max-width: $w-xl;
	}
	&--large {
		max-width: $w-l;
	}
	&--medium {
		max-width: $w-m;
	}
	&--small {
		max-width: $w-s;
	}
	&--x-small {
		max-width: $w-xs;
	}
	&--no-padding {
		padding-top: 0;
		padding-bottom: 0;
	}
}
.page-content {
	background-color: $color-white;
	color: $color-black;
}
