// font families
$font-base: 'Nunito Sans', arial, sans-serif;
$font-display: 'Nunito Sans', arial, sans-serif;

// font-weights
$weight-regular: 300;
$weight-bold: 500;
$weight-heavy: 700;
$weight-display: 800;

// theme colours
$color-white: #fff;
$color-grey-light: #f0f0f0;
$color-grey-medium: #ccc;
$color-grey-dark: #1f1f1f;
$color-black: #000;
$color-spot: #773a92;
$color-spot-accent: #652482;

$radius: 0.25em;
$radius-large: 0.5em;

// desktop breakpoints
$w-xxl: 1680px;
$w-xl: 1440px;
// tablet breakpoints
$w-l: 1024px;
$w-m: 768px;
$w-ms: 520px;
//mobile breakpoints
$w-s: 440px;
$w-xs: 360px;

// image preload mixin
@mixin preload {
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	&.preload {
		opacity: 0;
	}
}
@mixin preload_transition {
	position: relative;
	top: -1em;
	opacity: 1;
	transition-property: opacity, top;
	transition-duration: 0.25s;
	transition-timing-function: linear;
	&.preload {
		top: 0;
		opacity: 0;
	}
}
