// font families
$font-base: 'Nunito Sans', arial, sans-serif;
$font-display: 'Nunito Sans', arial, sans-serif;

// font-weights
$weight-regular: 300;
$weight-bold: 500;
$weight-heavy: 800;
$weight-display: 800;

// theme colours
$color-white: #fff;
$color-grey-light: #f0f0f0;
$color-grey-medium: #ccc;
$color-grey-dark: #1f1f1f;
$color-black: #000;
$color-spot: #773a92;
$color-spot-accent: #652482;

$radius: 0.25em;

// desktop breakpoints
$w-xxl: 1680px;
$w-xl: 1440px;
// tablet breakpoints
$w-l: 1024px;
$w-m: 768px;
$w-ms: 520px;
//mobile breakpoints
$w-s: 440px;
$w-xs: 360px;
